.navbar{
    border-bottom: 0.5px solid rgb(230, 227, 227);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        width: 100%;

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightcoral;
            padding: 3px;
            
            input{
                border:none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .widgets{
            display: flex;
            gap: 10px;

            .item{
                display: flex;
                align-items: center;
                margin: 20px;
                position: relative;

                .avatar{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }

                .monbadge{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    color:white;
                    font-size: 12px;
                    font-weight: bold;
                    background-color: rgb(199, 0, 0);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                }

            }
        }
    }
}